@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

html{
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}